<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fancx.common.mapper.ResourceMapper">
    <insert id="insertAvatar">
        insert into images(UUID, type, data)
        values (#{UUID}, #{type}, #{data})
    </insert>
    <insert id="insertImage">
        insert into ${tableName}
            (UUID)
        values (#{UUID})

    </insert>
    <update id="updateAvatar">
        update ${tableName}
        set type =#{avatar.type},
            data=#{avatar.dataStream}
        where UUID = #{avatar.UUID}
    </update>
    <select id="selectImageByUUID" resultType="com.fancx.common.entity.ImageEntity">
        SELECT id, UUID, TYPE, DATA AS 'dataByte'
        from ${tableName}
        where UUID = #{UUID}
    </select>
</mapper>